<section class="contact">
    
    <div class="container">
       
        <div class="contactInfo">
             <div><h2>Contacto</h2></div>
            
             <div class="box">
                <div class="icon"><b></b><i class='bx bxs-map'></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <p>Colombia, La Guajira</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><b></b><i class='bx bxs-phone'></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>+57 300 771 6671</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><b></b><i class='bx bxs-envelope'></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>dayapao2017&#64;gmail</p>
                </div>
            </div>
            <h3 class="txt">Connect with us</h3>
            <ul class="sci">
               <li><a href="https://www.instagram.com/06.are?igsh=MXIxZXFmZm5x0Xo5cg==" rel="noopener noreferrer" target="_blank"><i class='bx bxl-instagram-alt'></i></a></li>
               <li><a href="https://www.linkedin.com/in/daya-pao"><i class='bx bxl-linkedin' rel="noopener noreferrer" target="_blank"></i></a></li>
               <li><a href="https://www.facebook.com/profile.php?id=61582982593278" rel="noopener noreferrer" target="_blank"><i class='bx bxl-facebook'></i></a></li>
               <li><a href="https://githud.com/daya-pao" rel="noopener noreferrer" target="_blank"><i class='bx bxl-github'></i></a></li>
            </ul>
        </div>
        <div class="contactForm">
            <form (submit)="sendEmail($event)">
                <h3>Send Message</h3>
                <div class="inputBox">
                    <input type="text" name="name" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="email" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                  <textarea required="required" name="message"></textarea>
                  <span>Type your Message...</span>
                </div>
                <div class="inputBox">
                 <input type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>
