<section class="services">
  <div class="services-container">
    <div class="intro-text">
      <div><h3>Services</h3></div>
      <div>
       <p class="game-text">
        Ofrezco un conjunto completo de servicios para llevar tus proyectos al siguiente nivel.
        Desde el desarrollo web y el control de calidad hasta las pruebas de APIs, aquí están los servicios que proporciono.
       </p>
      </div>
    </div>

    <div class="services-grid">
      <div class="service" *ngFor="let s of services">
        <div>
          <div class="service-icon">
            <i [class]="s.icon"></i>
            <h2>{{ s.title }}</h2>
            <p>{{ s.description }}</p>
            <ul class="icon-list">
              <li *ngFor="let item of s.items">{{ item }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
