<section class="services">
    <div class="services-container">
      <div class="intro-text">
        <!--<h2>Servicios Ofrecidos</h2>-->
        <p class="typing-animation" >Ofrezco un conjunto completo de servicios para llevar tus proyectos al siguiente nivel.</p>
        <p class="fade-in" >Desde el desarrollo web y el control de calidad hasta las pruebas de APIs,</p>
        <p class="fade-on" >aquí están los servicios que proporciono:</p>
      </div>
      
      <div class="services-grid">
        <div class="service">
          <div>
            <div class="service-icon">
              <i class="fas fa-laptop-code"></i>
              <h3>Desarrollo Web</h3>
              <p>Transformo tus ideas en sitios web funcionales y atractivos.</p>
              <ul class="icon-list">
                <li>Desarrollo Frontend y Backend</li>
                <li>Diseño Responsive</li>
                <li>Integración con APIs y Bases de Datos</li>
                <li>Optimización para SEO</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="service">
          <div>
            <div class="service-icon">
              <i class="fas fa-plug"></i>
              <h3>Pruebas de APIs con Postman</h3>
              <p>Utilizo Postman para probar y automatizar las APIs, asegurando su funcionalidad y eficiencia.</p>
              <ul class="icon-list">
                <li>Creación y Ejecución de Colecciones</li>
                <li>Automatización de Pruebas</li>
                <li>Validación de Respuestas y Datos</li>
                <li>Integración con CI/CD</li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="service">
          <div>
            <div class="service-icon">
              <i class="fas fa-database"></i>
              <h3>Gestión de Bases de Datos</h3>
              <p>Gestiono y optimizo bases de datos para garantizar un rendimiento óptimo.</p>
              <ul  class="icon-list">
                <li>Diseño y Modelado de Bases de Datos</li>
                <li>Consultas y Optimización</li>
                <li>Seguridad y Backup</li>
              </ul>
          </div>
            </div>
            
        </div>
  
        <div class="service">
          <div>
            <div class="service-icon">
              <i class="fas fa-bug"></i>
              <h3>Pruebas de Calidad (QA)</h3>
              <p>Realizo pruebas exhaustivas para asegurar la calidad y funcionalidad de tus aplicaciones.</p>
              <ul  class="icon-list">
                <li>Pruebas Funcionales</li>
                <li>Pruebas de Compatibilidad en Navegadores </li>
                <li>Automatización Pruebas con Postman</li>
                <li>Identificación y Reporte de Errores</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>