
/*----------about__lenguajes-----------*/
.about__lenguajes {
  height: 100vh;
  padding: 2vw;
  position: absolute;
  left: 15vw;
  width: 85vw;
  display: flex;
  align-items: center;
  gap: 4vw;
}
.about_container{
  display: flex;
}
.about__lenguajes h3{
  position: absolute;
  top:4vw;
  font-size:3vw ;
  font-weight: 400;
  color: var(--text-color);
}
.about__lenguajes h3::before{
  content: " ";
  height: 0.4vw;
  width: 4vw;
  background-color: var(--border-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.about__lenguajes h3::after{
  content: " ";
  height: 0.4vw;
  width: 2vw;
  background-color:var(--border-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1vw;
}
.cubo_container{

  display: flex;
  margin-top: 6vw;
  justify-content: flex-start;
  align-items: center;
  min-height: 50vh;
  gap: 13vw;
  animation: bg-color 4s linear infinite;
}
/*@keyframes bg-color{
  0%{filter:hue-rotate(270deg);}
  50%{filter:hue-rotate(360deg)}
}*/

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4vw; 
  max-width: 1200px; 
  padding: 3vw;
}
.cube{
  position: relative;
  width: 6vw;
  height: 4vh;
  transform-style: preserve-3d;
  animation: animate 4s linear infinite;
}

.cube .box {
  position: absolute;
  top:0;
  left: 0;
  width: 5vw;
  height: 4vh;
  transform-style: preserve-3d;
}
.cube .box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--text-color),var(--text-color));
  transform-style: preserve-3d;
  transform: rotateY(calc(90deg * var(--i))) translateZ(2.5vw);
}

.top{
  position: absolute;
  top: 0;
  left: 0;
  width: 5vw;
  height: 12vh;
  background-color:var(--text-color);
  transform-style:preserve-3d;
  transform: rotateX(90deg) translateZ(2.6vw);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top::before{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 5vw;
  height: 5vw;
  background: var(--text-color);
  transform: translateZ(-3vw);
  opacity: 0.30;
 /* box-shadow: 0 0 20px var(),
  0 0 20px rgba(255,6,6,0.4),
  0 0 30px rgba(255,6,6,0.5),
  0 0 40px rgba(255,6,6,0.8),
  0 0 50px rgba(255,6,6,1);*/
}
@keyframes animate{
  0%{transform: rotateX(-30deg) rotateY(0deg);}
  100%{transform: rotateX(-30deg) rotateY(360deg);}
}

i{
  position: absolute;
  font-size: 5vw;
  color:var(--border-color) ;
  /*text-shadow: 0 0 50px rgba(255,6,6,0.25),
  0 0 100px rgba(145, 205, 223, 0.5),
  0 0 200px rgba(180, 231, 224, 0.75),
  0 0 200px rgba(214, 226, 231, 0.1);*/
}
/*----------about__lenguajes-----------*/

/*--------card info-------*/
.card__texto {

  width: 70vw;
  margin-top: 6vw;
  height: 50vh;
  display: flex; 
  align-items: center; 
  gap: 1vw; 
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;

}
.texto{
  font-size: 1.4vw;
  color: var(--text-active);
}
.icon{
  margin-top:-18vw;
  font-size: 14vw;
  text-align: center;
  margin-left: 3vw;
  color:var(--text-color);
  text-shadow: none;
  border-radius: 50%;
  z-index: 1;
}



/* Definir animaciones de desvanecimiento y deslizamiento */

/* Desvanecimiento y deslizamiento hacia la izquierda */
@keyframes slideLeftIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeftOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/* Desvanecimiento y deslizamiento hacia la derecha */
@keyframes slideRightIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* Desvanecimiento y deslizamiento hacia arriba */
@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.card__texto.slide-left-out {
  animation: slideLeftOut 0.5s forwards; /* Animación de salida hacia la izquierda */
}

.card__texto.slide-left-in {
  animation: slideLeftIn 0.5s forwards; /* Animación de entrada hacia la izquierda  */
}

.card__texto.slide-right-out {
  animation: slideRightOut 0.5s forwards; /* Animación de salida hacia la derecha  */
}

.card__texto.slide-right-in {
  animation: slideRightIn 0.5s forwards; /* Animación de entrada hacia la derecha  */
}

.card__texto.slide-up-out {
  animation: slideUpOut 0.5s forwards; /* Animación de salida hacia arriba  */
}

.card__texto.slide-up-in {
  animation: slideUpIn 0.5s forwards; /* Animación de entrada hacia arriba  */
}


/*-------card__progress-----*/
.card__progress .progress{
  position: relative;
  width: 20vw;
  height: 45vh;
  border-radius: 50%;
  color:red ;
  background: conic-gradient(var(--clr) calc(var(--i) * 100%), transparent 0); 
}
.card__progress .progress::before{
  content:" ";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
  transform: translate(-50%, -50%);
  
}
.card__progress .progress::after{
  content: " ";
  position: absolute;
  background:var(--border-color);
  inset: 10px;
  border-radius: 50%;
  
}
.card--porcentaje {
  position: absolute;
  top: 16vw;
  left: 10vw;
  transform: translate(-50%, -50%);
  color:var(--text-active); 
  font-size: 1rem;
  z-index: 1;
}







/*:root{
  --gris:#635f5f;
}
.about__lenguajes {
  display: flex;
  align-items: center;
  gap: 4vw;

}
.cubo_container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  gap: 3vw;
  animation: bg-color 4s linear infinite;

}
@keyframes bg-color{
  0%{filter:hue-rotate(270deg);}
  50%{filter:hud-rotate(360deg)}
}
.grid{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4vw; 
  max-width: 1200px; 
  padding: 3vw;
}
.cube{
  position: relative;
  width: 6vw;
  height: 4vh;
  transform-style: preserve-3d;
  animation: animate 4s linear infinite;
}
@keyframes animate{
  0%{transform: rotateX(-30deg) rotateY(0deg);}
  100%{transform: rotateX(-30deg) rotateY(360deg);}
}
.cube .box {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube .box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(21,21,25,1), rgba(255,6,6,1));
  transform-style: preserve-3d;
  transform: rotateY(calc(90deg * var(--i))) translateZ(3vw);
}

.top{
  position: absolute;
  top: 0;
  left: 0;
  width: 6vw;
  height: 14vh;
  background-color: #222;
  transform-style:preserve-3d;
  transform: rotateX(90deg) translateZ(3vw);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top::before{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 6vw;
  height: 6vw;
  background: rgba(255,6,6,1);
  transform: translateZ(-3vw);
  opacity: 0.30;
  box-shadow: 0 0 20px rgba(255,6,6,0.2),
  0 0 20px rgba(255,6,6,0.4),
  0 0 30px rgba(255,6,6,0.5),
  0 0 40px rgba(255,6,6,0.8),
  0 0 50px rgba(255,6,6,1);
}
i{
  position: absolute;
  font-size: 6em;
  color:rgba(255,6,6,1) ;
  text-shadow: 0 0 50px rgba(255,6,6,0.25),
  0 0 100px rgba(255,6,6,0.5),
  0 0 200px rgba(255,6,6,0.75),
  0 0 200px rgba(255,6,6,0.1);
}

/*--------card info-------*/

/*.card__texto {
  width: 60vw;
  height: 50vh;
  display: flex; 
  align-items: center; 
  gap: 15px; 
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
  
}
.texto{
  font-size: 2vw;
}
.icon{
  margin-top:-18vw;
  font-size: 14vw;
  text-align: center;
  margin-left: 3vw;
  color:rgb(14, 14, 14);
  text-shadow: none;
  border-radius: 50%;
  z-index: 1;
}



/* Definir animaciones de desvanecimiento y deslizamiento */

/* Desvanecimiento y deslizamiento hacia la izquierda */
/*@keyframes slideLeftIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeftOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/* Desvanecimiento y deslizamiento hacia la derecha */
/*@keyframes slideRightIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* Desvanecimiento y deslizamiento hacia arriba */
/*@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.card__texto.slide-left-out {
  animation: slideLeftOut 0.5s forwards; /* Animación de salida hacia la izquierda 
}

.card__texto.slide-left-in {
  animation: slideLeftIn 0.5s forwards; /* Animación de entrada hacia la izquierda 
}

.card__texto.slide-right-out {
  animation: slideRightOut 0.5s forwards; /* Animación de salida hacia la derecha 
}

.card__texto.slide-right-in {
  animation: slideRightIn 0.5s forwards; /* Animación de entrada hacia la derecha 
}

.card__texto.slide-up-out {
  animation: slideUpOut 0.5s forwards; /* Animación de salida hacia arriba 
}

.card__texto.slide-up-in {
  animation: slideUpIn 0.5s forwards; /* Animación de entrada hacia arriba 
}


/*-------card__progress-----*/
/*.card__progress .progress{
  position: relative;
  width: 20vw;
  height: 45vh;
  border-radius: 50%;
  color: #fff;
  background: conic-gradient(var(--clr) calc(var(--i) * 100%), transparent 0); 
}
.card__progress .progress::before{
  content:" ";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
  transform: translate(-50%, -50%);
 
  
  
}
.card__progress .progress::after{
  content: " ";
  position: absolute;
  background: #222;
  inset: 10px;
  border-radius: 50%;
  
}
.card--porcentaje {
  position: absolute;
  top: 16vw;
  left: 10vw;
  transform: translate(-50%, -50%);
  color: #fff; 
  font-size: 1rem;
  z-index: 1;
}*/

