<!-- about.component.html -->

<section class="about">
  <div class="about__container">
    <div class="about__row">
      <div class="about__img">
        <!-- Aquí podrías añadir una imagen tuya -->
         <div class="about--bg">
          <span class="img--bg"></span>
          <!--<img src="assets/descarga.png" alt="Foto de [Tu Nombre]" class="img-fluid mb-4">-->
         </div>
      </div>
      <div class="about__info">
        <h2>Sobre mí</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati doloremque culpa eveniet ipsam nemo dolores nesciunt deleniti atque. Vel quo ut, laboriosam molestias atque iste quidem nobis. Perferendis, esse deserunt.</p>
      </div>
    </div>
  </div>
</section>

<!-- about.component.html -->
