<nav class="navbar">

  <a routerLink="/Home"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }"
     class="icon">
    <i class="fas fa-home"></i>
  </a>

  <a routerLink="/Skills"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }"
     class="icon">
    <i class="fas fa-wrench"></i>
  </a>

  <a routerLink="/Services"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }"
     class="icon">
    <i class="fas fa-list-ul"></i>
  </a>

  <a routerLink="/Contact"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }"
     class="icon">
    <i class="fas fa-envelope"></i>
  </a>

</nav>






    
    
    
