  <!--HOME SECTION DESIGN -->
  <section class="section_home">
    <div class="home_content">
        <h3 class="home_titulo">Hello , <span class="nombre-animado">Dayana Arevalo</span></h3>
        <h1 class="home_developer">i'm  a <span class="stypin">{{profesionActual}}</span> </h1>
        <p class="home_info">
           Desarrolladora web con conocimientos en QA, bases de datos y testing de automatizacion. Especializada en desarrollar soluciones web eficientes 
           y de alta calidad que cumplen con las necesidades de los usuarios.
       </p>
       <div class="social_media">
          <div> <a href="https://www.instagram.com/06.are?igsh=MXIxZXFmZm5x0Xo5cg==" rel="noopener noreferrer" target="_blank"><i class='bx bxl-instagram-alt'></i></a></div>
          <div> <a href="https://github.com/daya-pao"  rel="noopener noreferrer" target="_blank"><i class='bx bxl-github'></i></a></div>
          <div> <a href="https://www.linkedin.com/in/daya-pao"  rel="noopener noreferrer" target="_blank"><i class='bx bxl-linkedin'></i></a></div>
          <div> <a href="https://www.facebook.com/profile.php?id=61582982593278"  rel="noopener noreferrer" target="_blank"><i class='bx bxl-facebook'></i></a></div>
          <button class="btn-explore-cube">
            <span>Explora , toca el cubo</span>
            <div class="pointer-arrow">👉</div>
          </button>
        </div>
      <a href="./assets/CV_DAYANA_AREVALO.pdf" class="btn" download="CV_DAYANA_AREVALO">Download CV</a>
    </div>

    <div class="container" >
        <div class="cube" routerLink="/Portafolio" style="cursor: pointer;">
            <div class="face front"> Web Develop</div>
            <div class="face back">Web Develop </div>
            <div class="face top"> Quality Assurance </div>
            <div class="face bottom">backend develop</div>
            <div class="face left">Web Develop</div>
            <div class="face right">frontend develop</div>
            
        </div>
    </div>
</section>
 
    