/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Epilogue:wght@400;500;700&family=Kumbh+Sans:wght@100;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,300&family=Rubik:wght@300&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    
    /*Tema #1*/
    --background-color:#4e4e58 ;/* Fondo contenido */
    --background-color-navbar:  #1a1e2a;/*Fondo navbar*/
    --border-color: #252432;/*texto rojo*/
    --text-color: #01dbc2 ; /* Texto negro */
    --text-active: #ffffff; /*texto active*/
    --border-bottom: #8c8c8c /*borde nava*/
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    user-select:none ;
    scroll-behavior: smooth;
    font-family:'Poppins' sans-serif;
}

html {
   /*  font-size: 62.5%; */
    font-size: clamp(50%, 10rem, 1vw);
    overflow-x: hidden;
}

body {
    background-color:var(--background-color);
    margin: 0;
    padding: 0;
    margin-left: var(--width-collaspsed);
}
/*#2f2e37*/

 /*Tema #2*/
:root{
    --background-color:#4e4e58 ;/* Fondo contenido */
    --border-color: #252432;/*texto rojo*/
    --text-color: #01dbc2 ; /* Texto negro */
    --text-active: #ffffff; /*texto active*/
    --background-color: #41414e;/*Fondo navbar*/
    --border-bottom: #8c8c91 /*borde nava*/
}
